html,body {
	background-color: #F2F2F2;
	height: 100%;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
.main-blog-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; 
}
.wrapper-adjust {
	height: 30px;
	width: 100%;
}
.navbar-blog {
	background-color: #7582DA;
	border-color: #C5CCF7; 
	border-radius: 0px; 
	box-shadow: 0 1px 2px rgba(0,0,0,0.37);
}
.navbar-blog .navbar-nav.nav li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	padding: 15px 25px;
} 
.navbar-blog .navbar-header .navbar-brand {
	color: #fff;
	font-size: 21px;
	padding-left: 0;
    margin: 8px 0;
}
.navbar-blog .navbar-right {
	padding-right: 15px;
}
a.sign-up-ride {
    border: 1px solid #fff;
}
a.sign-up-ride:hover {
    background: #fff !important;
    color: darkblue !important;
}
.navbar-blog .navbar-right {
	margin-top: 8px;
	margin-bottom: 8px;
}
.container-form {
	padding-top: 100px;
}

/*form first*/
.slimride-form-row {
	background: #C5CCF7;
	padding: 27px 15px;
	border-radius: 4px;
	    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 
	    	25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,
	    	rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
.form-group {
	margin-bottom: 0px;
}
.form-group label {
	font-size: 12px;
	color: #4A4242;
	font-weight: 400;
	margin-bottom: 2px;
}
.form-group .form-control {
	border-radius: 0px;
	border: 0px solid #fff;
	box-shadow: none;
	height: 38px;
	box-shadow: 2px 2px 4px 1px #a9a9a9 inset;
}
.form-select-form select.form-control {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
}
.form-select-form {
	position: relative;
}
.form-select-form i.fa.fa-angle-down {
	position: absolute;
	top: 0;
	line-height: 38px;
	right: 10px;
	color: #C5CCF7;
}
.search-field {
	position: relative;
}
.search-field i.fa.fa-search {
	position: absolute;
	right: 10px;
	top: 0;
	line-height : 38px;
	color: #C5CCF7;
}
.container-category-one {
	margin-top: 10px;
	margin-bottom: 30px;
}
.container-category {
	margin-top: 15px;
}
.slimride-category-row {

}
.catogory-list {
	text-align: center;
	margin-bottom: 0px;
}
.catogory-list tr td {
	text-align: center;
	border-top: 0px !important;
}
.catogory-list a {
	background: #EAEAEA;
	padding: 10px 16px;
	text-decoration: none;
	font-size: 13px;
}
.mid-section-p {
	font-size: 13px;
	color: #555;
	margin-top: 15px;
	text-align: justify;
	line-height: 19px;
}

.right-section button {
	border-radius: 0;
	background: #7582DA;
	border: 1px solid #7582DA;
	color: #fff;
	border-radius: 3px;
	padding: 8px 20px;
	font-size: 14px;
	font-weight: 600;
	text-shadow: black 0 1px 0 
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12) !important;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12) !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12) !important;
}
.right-section button:hover {
	background: #fff;
	color: darkblue;
	border: 1px solid darkblue;
}
.right-section button:active {
	background: #fff;
	color: darkblue;
	border: 1px solid darkblue;
}
.right-section button:focus {
	background: #fff;
	color: darkblue;
	border: 1px solid darkblue;
}
.well {
	background: #fff;
}
.footer {
	background: #7582DA;
	padding: 5px 0px;
}
.links {
	text-align: center
}
.links a {
	color: #fff;
	text-decoration: none;
	padding: 0px 17px;
	text-transform: uppercase;
	font-size: 13px;
}
.navbar-toggle {
    padding: 0px;
    border: 0px;
    margin: 26px 0
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: transparent;
}
.navbar-collapse {
	border-color: #fff !important;
}
@media (max-width: 767px) {
	.slimride-form-row {
		padding: 15px 0px;
		margin: 0px 15px;
	}
	.right-section button {
		width: 100%;
	}
	.mid-section-p {
		margin: 10px 0px;
	}
	
	.mid-section h4 {
		margin-top: 10px;
	}
}
@media (min-width: 768px) {
	.mid-section {
		padding-left: 0px;
	}
	.right-section {
		padding-left: 0px;
		text-align: right;
	}
	.img-circle {
		border-radius: 0px;
	}
}
.respo-table::-webkit-scrollbar {
    width: 1em;
    height: 8px;
}
 
.respo-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
.respo-table::-webkit-scrollbar-thumb {
  background: #737373;
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  outline: 1px solid #7582DA;
  height: 5px;
  border-radius: 10px;
}
.respo-table {
	background: #fff;
	padding: 10px;
}
body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #7582DA;	
  	background-image: -webkit-linear-gradient(45deg,
  	                                          rgba(255, 255, 255, .2) 25%,
  											  transparent 25%,
  											  transparent 50%,
  											  rgba(255, 255, 255, .2) 50%,
  											  rgba(255, 255, 255, .2) 75%,
  											  transparent 75%,
  											  transparent)
}
